body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: rgb(206, 205, 235);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

.bio {
    text-align: center;
}
